# Django & REST
django>=4.2
djangorestframework
django-allauth
django-cors-headers
django-channels
channels-redis
python-dotenv
psycopg2-binary
redis
django-redis
gunicorn
whitenoise
django-widget-tweaks
daphne

# AI & RAG
openai
groq
tenacity
sentence-transformers
faiss-cpu
numpy
PyPDF2
dj-database-url

# Async
asgiref